// TaskPaper stylesheet by Gustaf Ekeberg
// 
// Custom tags
// 	@f, @flag = Flag
// 	@p, @prio, @priority = Prio
// 	@p(1), @prio(1), @priority(1) = Prio 1
// 	@p(2), @prio(2), @priority(2) = Prio 2
// 	@p(3), @prio(3), @priority(3) = Prio 3
//	@today = Today

// Appearance
@appearance: $APPEARANCE; // dark or light
// @appearance: "light"; 

// UI Scale
@base-font-size: 16;
@user-font-size: $USER_FONT_SIZE;
@ui-scale: @user-font-size / @base-font-size;
@default-spacing-height: @ui-scale * 2;

// Fonts
// @font-sans: PT Sans;
@font-sans: 'Optima';
@font-serif: 'Palatino';
@font-special: @font-sans;

// Colors
@light-background-color: #FFFFFF;
@dark-background-color: #1E1E1E;
@current-appearence-background-color: "@{appearance}-background-color";
@background-color: @@current-appearence-background-color;
@tint-color: $CONTROL_ACCENT_COLOR;

@light-link-color: #009FF4;
@dark-link-color: mix(@light-link-color, @background-color, 65%);
@current-appearence-link-color: "@{appearance}-link-color";
@link-color: @@current-appearence-link-color;

@light-accent-color: @tint-color;
@dark-accent-color: mix(@light-accent-color, @background-color, 65%);
@current-appearence-accent-color: "@{appearance}-accent-color";
@accent-color: @@current-appearence-accent-color;

@text-color: contrast(@background-color, rgb(26%, 26%, 26%), rgb(87%, 87%, 87%));

// Editor colors
@caret-color: spin(@accent-color, 180);
@light-selection-color: mix(@tint-color, @background-color, 15%);
@dark-selection-color: mix(@tint-color, @background-color, 10%);
@current-selection-color: "@{appearance}-selection-color";
@selection-color: @@current-selection-color;
@project-color: mix(@background-color, @text-color, 5%);
@note-color: @text-color;
@item-color: @text-color;

// Misc.
@invisibles-color: mix(@text-color, @selection-color, 10%);

// Searchbar colors
@searchbar-background-color: contrast(@background-color, darken(@background-color,10%), lighten(@background-color,5%));
@searchbar-error-color: mix(red, @background-color, 50%);
@searchbar-secondary-text-color: contrast(@searchbar-background-color, @accent-color, @dark-accent-color);
@searchbar-text-color: @text-color;

// Tags
@tag-color: mix(@background-color, @text-color, 60%);
@tag-done-color: mix(@background-color, @text-color, 75%);

// Custom tag colors
@prio-color: #5AD30E;
@prio-1-color: #E84A52;
@prio-2-color: #ECAD39;
@prio-3-color: #0098E9;
@flag-color: @prio-1-color;
@today-color: yellow;

// Custom tag color calculations
@prio-tag-mix-color: mix(@text-color, @background-color, 25%);
@prio-tag-mix-percent: 50%;
@prio-item-mix-percent: 100%;
@prio-mix-percent: 100%;

@item-prio-color: mix(@prio-color, @background-color, @prio-mix-percent);
@prio-mix-color: mix(@background-color, @prio-color , @prio-tag-mix-percent);

@item-prio-color: contrast(
	@background-color,
	mix(@background-color, @prio-color , @prio-item-mix-percent),
	mix(@prio-color ,@background-color , @prio-item-mix-percent)
	);;
@item-prio-1-color: contrast(
	@background-color,
	mix(@background-color, @prio-1-color, @prio-item-mix-percent),
	mix(@prio-1-color, @background-color, @prio-item-mix-percent)
	);
@item-prio-2-color: contrast(
	@background-color,
	mix(@background-color, @prio-2-color, @prio-item-mix-percent),
	mix(@prio-2-color, @background-color, @prio-item-mix-percent)
	);
@item-prio-3-color: contrast(
	@background-color,
	mix(@background-color, @prio-3-color, @prio-item-mix-percent),
	mix(@prio-3-color, @background-color, @prio-item-mix-percent)
	);

@item-today-color: @today-color;
@item-today-bg-color: mix(@background-color, @today-color, 90%);

@tag-prio-color: mix(@background-color, @item-prio-color, @prio-tag-mix-percent);
@tag-prio-1-color: mix(@background-color, @item-prio-1-color, @prio-tag-mix-percent);
@tag-prio-2-color: mix(@background-color, @item-prio-2-color, @prio-tag-mix-percent);
@tag-prio-3-color: mix(@background-color, @item-prio-3-color, @prio-tag-mix-percent);

@tag-mix-percent: 60%;
@tag-today-color: mix(@background-color, @today-color, @tag-mix-percent);

@item-flag-color: @item-prio-1-color;
@item-flag-bg-color: mix(@background-color, @item-flag-color, 90%);
@tag-flag-color: @tag-prio-1-color;

@handle-size: 10 * @ui-scale;
@mouse-over-handle-border-width: -4;
@handle-border-width: 8 * @ui-scale;
@handle-color: mix(@text-color, @background-color, 25%);
@handle-border-color: @handle-color;
@handle-secondary-color: @accent-color;
@handle-collapsed-color: mix(@text-color, @background-color, 75%);
@guide-line-color: mix(@background-color, @text-color, 90%); 

@window-appearence-light

// Rules
window {
	// appearance: NSAppearanceNameVibrant;
}
sidebar {
	// appearance: NSAppearanceNameVibrant;
}
searchbar {
	// appearance: NSAppearanceNameVibrantLight;
	color: @searchbar-text-color;
	secondary-text-color: @searchbar-secondary-text-color;
	error-text-color: @searchbar-error-color;
	placeholder-color: @searchbar-text-color;
	background-color: @searchbar-background-color;
}
editor {
	editor-wrap-to-column: 110;
	font-family: @font-sans;
	guide-line-width: 2 * @ui-scale;
	guide-line-color: @guide-line-color;
	caret-color: @caret-color;
	caret-width: 1.5 * @ui-scale;
	bottom-padding-percent: 50%;
	typewriter-scroll-percent: 50%;
}
item[data-type=project] {
	color: @project-color;
	font-family: @font-sans;
}
item[depth=1][data-type=project] {
	font-size: 1.8 * @user-font-size;
	paragraph-spacing-before: 5 * @ui-scale;
	paragraph-spacing-after: 5 * @ui-scale;
	font-family: @font-special;
	// line-height-multiple: 2 * @ui-scale;
}
item[depth=2][data-type=project] {
	> run[content] {
		text-underline: NSUnderlineStyleSingle;
	}
	font-size: 1.3 * @user-font-size;
	font-weight: bold;
}
item[depth=3][data-type=project] {
	> run[content] {
		text-underline: NSUnderlineStyleSingle;
	}
	paragraph-spacing-before: 2 * @default-spacing-height;
	paragraph-spacing-after: 2 * @default-spacing-height;
}
item[depth=4][data-type=project] {
	> run[content] {
		font-style: italic;
	}
}
item[data-type=task] > run[content],
item[data-type=note] > run[content] {
	// font-weight: bold;
}
item[data-type=task], item[data-type=note] {
	color: @note-color;
	font-weight: bold;
	> run[content] {
	}
}
item[data-type=note] {
	font-family: @font-serif;
	font-style: normal;
	color: @note-color;
	paragraph-spacing-before: 2 * @default-spacing-height;
	paragraph-spacing-after: 2 * @default-spacing-height;
}
item[collapsed][data-type=task] > run[content] {
	font-weight: bold;
	text-underline: NSUnderlineStyleSingle NSUnderlinePatternDot;
}
item[collapsed][data-type=note] > run[content] {
	font-weight: bold;
	text-underline: NSUnderlineStyleSingle NSUnderlinePatternDot;
}
item {
	handle-color: @handle-color;
}
item[leaf],
item[leaf][mouseOverHandle] {
	handle-border-color: none;
}
item[mouseOverHandle] {
	// handle-border-width: @mouse-over-handle-border-width;
	handle-color: @handle-secondary-color;
	handle-border-color: @handle-secondary-color;
}
item, item[collapsed], item[expanded], item[filtered], item[leaf] {
  // handle-border-width: @mouse-over-handle-border-width;
}
item[collapsed] {
	handle-color: @handle-collapsed-color;
	// handle-border-width: @handle-border-width; 
	handle-border-color: none;
	// > run[content] {
		// text-underline: NSUnderlineStyleSingle NSUnderlinePatternDot;
	// }
}
item[expanded] {
  handle-border-color: none;
}
item[filtered] {
  handle-color: @handle-secondary-color;
  // handle-border-width: @mouse-over-handle-border-width;
}
item[leaf][data-type=note],
item[leaf][data-type=task] {
	font-weight: normal;
	> run[content] {
		text-underline: NSUnderlineStyleNone;
	}
}
run[link] {
	color: @link-color;
	text-underline: NSUnderlineStyleSingle;
}
run[link^=button] {
	color: @text-color;
	text-underline: NSUnderlineStyleNone;
	text-expansion: 0;
}
run[link^=filter] {
	color: @text-color;
}
run[tag] {
	color: @tag-color;
	font-style: italic;
	text-underline: NSUnderlineStyleSingle;
}
item[data-today] {
	// color: @item-today-color;
	background-color: @item-today-bg-color;

	> run[tag=data-today] {
		font-weight: bold;
		color: @text-color;
		background-color: @tag-today-color;
	}
}
item[data-p],
item[data-prio],
item[data-priority] {
	color: @item-prio-color;
	> run[tag=data-p],
	> run[tag=data-prio],
	> run[tag=data-priority]{
		color: @tag-prio-color;
	}
	> run[link^=button] {
		color: @item-prio-color;
	}
}
item[data-p="1"],
item[data-prio="1"],
item[data-priority="1"] {
	color: @item-prio-1-color;
	> run[tag=data-p],
	> run[tag=data-prio],
	> run[tag=data-priority] {
		color: @tag-prio-1-color;
	}
	> run[link^=button] {
		color: @item-prio-1-color;
	}
}
item[data-p="2"],
item[data-prio="2"],
item[data-priority="3"] {
	color: @item-prio-2-color;
	> run[tag=data-p],
	> run[tag=data-prio],
	> run[tag=data-priority] {
		color: @tag-prio-2-color;
	}
	> run[link^=button] {
		color: @item-prio-2-color;
	}
}
item[data-p="3"],
item[data-prio="3"],
item[data-priority="3"] {
	color: @item-prio-3-color;
	> run[tag=data-p],
	> run[tag=data-prio],
	> run[tag=data-priority] {
		color: @tag-prio-3-color;
	}
	> run[link^=button] {
		color: @item-prio-3-color;
	}

}
item[data-flag],
item[data-f] {
	// color: @item-flag-color;
	background-color: @item-flag-bg-color;
	> run[tag=data-flag],
	> run[tag=data-f] {
		color: @tag-flag-color;
	}
	> run[content] {
		// font-weight: bold;
	}
}
item[data-url] {
	> run[tag=data-url] {
		color: @link-color;
	}
}
item[data-done] {
	background-color: @background-color;
	color:  @tag-done-color;
	> run[content],
	> run[tag],
	> run[tag=data-url],
	> run[link^=button] {
		font-weight: normal;
		font-style: italic;
		text-strikethrough-color: @tag-done-color;
		background-color: @background-color;
		color: @tag-done-color;
	}
	> run[content] {
		text-strikethrough: NSUnderlineStyleSingle;
	}
}
